---
import Layout from "../../layouts/Layout.astro";
import "../../styles/global.css";
import Readings from "../../components/svelte/Readings.svelte";
---

<Layout title="Welcome to Astro.">
	<div class="wrapper">
        <Readings/>
	</div>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.2rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.wrapper{
		flex:1 0 auto;
		margin:0.5rem 0 ;
	}
</style>