---
import { getCollection } from "astro:content";
import Bloglayout from "../../layouts/BlogLayout.astro";
import '../../styles/global.css';
import '../../styles/markdown.css';
export async function getStaticPaths() {
	const blogPosts = await getCollection("blog");

	return blogPosts.map((post) => {
		return {
			params: { slug: post.slug },
			props: { post },
		};
	});
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Bloglayout>
	<div class="blog-container">
	<h1 class="heading">{post.data.title}</h1>
	<time datetime={post.data.date.toISOString()}>
		{post.data.date.toDateString()}
	</time>
	<Content />
	</div>
	<p class="feed">
		<a href="/rss.xml"
			>
			<span role="img" aria-label="satallite dish">
<svg class="inline-block w-4 h-4" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M5 3a1 1 0 000 2c5.523 0 10 4.477 10 10a1 1 0 102 0C17 8.373 11.627 3 5 3z"></path><path d="M4 9a1 1 0 011-1 7 7 0 017 7 1 1 0 11-2 0 5 5 0 00-5-5 1 1 0 01-1-1zM3 15a2 2 0 114 0 2 2 0 01-4 0z"></path></svg>
			</span>
			<span class="link-text">RSS</span>
		</a>
	</p>
</Bloglayout>

<style>
	.blog-container {
		max-width: 800px;
		margin:0  auto;
		padding: 1rem 0;
	}
	.heading{
		font-size: var(--h1);
		font-weight:600; 
		border-bottom: none;
	}
	

	.blog-container h1 {
		margin: 0;
  padding: 0.2rem 0;
  line-height: 1;
		}

</style>
