---
import { getCollection } from "astro:content";
import Bloglayout from "../../layouts/BlogLayout.astro";
import '../../styles/global.css';
import '../../styles/markdown.css';
export async function getStaticPaths() {
	const blogPosts = await getCollection("blog");

	return blogPosts.map((post) => {
		return {
			params: { slug: post.slug },
			props: { post },
		};
	});
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Bloglayout>
	<div class="blog-container">
	<h1 class="heading">{post.data.title}</h1>
	<time datetime={post.data.date.toISOString()}>
		{post.data.date.toDateString()}
	</time>
	<Content />
	</div>
</Bloglayout>

<style>
	.blog-container {
		max-width: 800px;
		margin: 0 auto;
		padding: 1rem 0;
	}
	.heading{
		font-size: var(--h1);
		font-weight:600; 
		border-bottom: none;
	}
	time{ 
		color: var(--stroke);
	}

	.blog-container h1 {
		margin: 0;
  padding: 0.2rem 0;
  line-height: 1;
		}
</style>
