:root {
  /* colors */
  --bg: #1c1c1c;
  --lbg: #444444;
  --or: #26292c;
  --wh: #f3f4f6;
  --time: #525762;
  --white: #ffffff;
  --green: #749d4c;
  --coffee: #43281c;
  --vanilla: #f1e3d3;
  --lemon: #fbf2c0;
  --mocha: #7f4f24;
  --tan: #ddb892;
  --blue: #3e80b6;
  --background: #1c1c1c;
  --stroke: #444444;
  --accent: #FF6F61;
  --code: #3D3F47;
  --color-fg-default: #c9d1d9;

  /* fonts */
  --decorative: "monospace", "Montserrat", sans-serif;
  --sans: "monospace", "Open Sans", sans-serif;

  /* font scale */
  --base-size: 0.6rem;
  --scale: 1.25;
  --h6: var(--base-size);
  --xl: calc(var(--h1)*var(--scale)*var(--scale));
  --lg: calc(var(--h1)*var(--scale));
  --h1: calc(var(--h2)*var(--scale));
  --h2: calc(var(--h3)*var(--scale));
  --h3: calc(var(--h4)*var(--scale));
  --h4: calc(var(--h5)*var(--scale));
  --h5: calc(var(--h6)*var(--scale));
  --h6: var(--base-size);
  --small: calc(var(--base-size)/ var(--scale));


}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--decorative);
  font-weight: 400;
  line-height: 1.2;
  color: var(--wh);
}

p {
  color: var(--color-fg-default);
}

h2 {
  font-size: var(--h2);
}

.blog-entries {
  flex: 1;
}
