---
import Layout from "../layouts/Layout.astro";
import Projects from "../components/svelte/Projects.svelte";
import Certifications from "../components/svelte/Certifications.svelte";
import Hero from "../components/svelte/Hero.svelte";
import "../styles/global.css";
---

<Layout title="Welcome to Astro.">
	<div class="projects-wrapper">
		<Hero />
		<Projects />
		<Certifications />
	</div>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

	:global(.projects-wrapper) {
		display: flex;
		flex-direction: column;
		flex:1 0 auto;
	}
	:global(.projects-wrapper > div ){
		margin: 1rem 0;
	}

</style>
