---
import Layout from "../layouts/Layout.astro";
import Projects from "../components/svelte/Projects.svelte";
import "../styles/global.css";
---

<Layout title="Welcome to Astro.">
	<div class="projects-wrapper">
		<Projects />
	</div>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
