---
import "../styles/global.css";
const navItems = [
	//{
	//	path: "/blog",
	//	label: "Blog",
	//},
	{
		path: "/refcards",
		label: "Refcards",
	},
	// {
	// 	path: "/notes",
	// 	label: "Notes",
	// },
	{
		path:"/creative_coding",
		label:"CreativeCoding"
	},
	//{
	//	path:"/timeline",
	//	label:"Timeline"
	//},
	{
	 path:"/guestbook",
	 label:"Guestbook",
	}
];
import Footer from "../components/svelte/Footer.svelte";
import HireMe from "../components/svelte/HireMe.svelte";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Suresh Pradhana's portfolio - Full Stack Developer with a passion for diverse fields in technology. Explore my skills, projects, and professional experience.">
		<meta name="keywords" content="Suresh Pradhana, portfolio, full stack developer, web development, web design, tech enthusiast, projects, professional experience">
		<meta name="author" content="Suresh Pradhana">
		<title>Suresh Pradhana - Full Stack Developer & Tech Enthusiast Portfolio</title>
</head>
    <!-- Now you can use the library like normal -->
	</head>
	<body>
		<header>
			<a href="/" rel="home">
				<span role="img" aria-label="suresh"></span>
				suresh
			</a>

			<!-- nav -->
			<nav class="nav">
				{
					navItems.map((item) => {
						return <a href={item.path}>{item.label}</a>;
					})
				}
			</nav>
		</header>
		<slot/>

		<footer>
			<Footer />
		</footer>
		<HireMe/>
	

	</body>
</html>
<style>
	header {
		@apply flex flex-row justify-between items-center space-x-4;
	}
	nav {
		@apply flex flex-row justify-between items-center space-x-4;
	}

	
</style>
