---
import { getCollection } from "astro:content";
import Bloglayout from "../../layouts/BlogLayout.astro";
import "../../styles/markdown.css";
import PathUi from "../../components/svelte/PathUi.svelte";
import { getEntry } from "astro:content";
// 1. Get the slug from the incoming server request
const { slug } = Astro.params;
if (slug === undefined) {
  throw new Error("Slug is required");
}
// 2. Query for the entry directly using the request slug
const post = await getEntry("refcards", slug);
// 3. Redirect if the entry does not exist
if (post === undefined) {
  return Astro.redirect("/404");
}
// 4. (Optional) Render the entry to HTML in the template
const { Content,remarkPluginFrontmatter } = await post.render();
---




<Bloglayout>
	<PathUi path={["Home","RefCards", post.data.slug]} />
	<div class="blog-container">
		<h1 class="heading">{post.data.title}</h1>
		<time datetime={post.data.date.toISOString()}>
			{post.data.date.toDateString()}
		</time>
		<span class="time">{remarkPluginFrontmatter.minutesRead}</span>
		<Content />
	</div>

</Bloglayout>

<style>
     html {
  font-family: 'Helvetica', system-ui, sans-serif, Arial, sans-serif;
  background: var(--background);
  background-size: 224px;
  color: #fff;
  font-size: 16px;
  box-sizing: border-box;
}

	.blog-container {
		max-width: 800px;
		/* margin:0  auto; */
		padding: 1rem 0;
		flex: 1;
	}
	.heading {
		font-size: var(--h1);
		font-weight: 600;
		border-bottom: none;
	}

	.blog-container h1 {
		margin: 0;
		padding: 0.2rem 0;
		line-height: 1;
	}
	.time{
		color: #605d5d;
		margin-left:1rem;
	}
	/* styles/markdown.css */


</style>

<script>
 import { icons } from 'feather-icons';
 document.addEventListener('DOMContentLoaded', () => {
    const codeBlocks = document.querySelectorAll('pre');

  codeBlocks.forEach(element => {
    const expandButton = document.createElement('button');
    expandButton.innerHTML = icons.maximize.toSvg({ class: 'feather', width: '18px', height:
	'18px' });
    expandButton.classList.add('expand-button');
    const copyButton = document.createElement('button');
    copyButton.innerHTML = icons.copy.toSvg({ class: 'feather', width: '18px', height:
	'18px' });
    copyButton.classList.add('copy-button');
	element.appendChild(expandButton);
	element.appendChild(copyButton);

	copyButton.addEventListener('click', () => {
	  navigator.clipboard.writeText(element.querySelector('code').innerText);
	});

    expandButton.addEventListener('click', () => {
      element.classList.toggle('code-fullscreen');
      document.body.classList.toggle('body-no-scroll', element.classList.contains('code-fullscreen'));
    });
  });
});

</script>
